{% extends "templates/base.html" %}
{% block title %}ABOUT{% endblock %}
{% block content %}
  <div class='read-text'>
    <img src="../img/example-slide-2.jpg" />
    <h2>Neque porro quisquam.</h2>
    <p>Cras scelerisque eros vel ante sollicitudin iaculis. Mauris sollicitudin diam lectus, quis molestie est lobortis ultricies. Fusce vitae purus sit amet felis congue pretium vitae nec dolor. Maecenas mattis ac est id placerat. Aliquam erat volutpat. Donec at ullamcorper ipsum. Mauris ultrices egestas venenatis. Sed nec risus vitae odio accumsan dapibus. Integer cursus libero nec ipsum adipiscing cursus quis in elit.</p>
    <p>Duis a nulla ut magna congue faucibus a ut odio. Pellentesque facilisis erat ac odio sodales venenatis. Nunc eu lorem at lorem euismod tempus ac sed sem. </p>
  </div>
{% endblock %}